body{
  font-family: 'Raleway', sans-serif;
  background: #22313F;
  font-size:16px;
  color:white;

}

.container{
  width: 1450px;
  margin: auto;
}


input{
  border-radius:0px;
  padding:12px 20px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 0px solid;
  border-bottom: 3px white solid;
  color: white;
  outline: none;

}

input[type='text']{
  font-family: 'Raleway', sans-serif;
  font-size:19px;
}

input[type='int']{
  font-family: 'Raleway', sans-serif;
  font-size:20px;
}


.input-border-style{
  width: 160px;
  margin-right: 38px;
  transition: transform 0.3s;
  
}

.input-border-style:focus{
  border-bottom: 4px #E26A6A solid;
  transform: translate3d(0, -20%, 0);

}

label{
  font-weight: 700;
}

.create{
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background-color:#2C3E50 ;
  border-radius:15px;
  border:2px solid black;
  cursor:pointer;
  color:white;
  padding:12px 100px;
  text-decoration:none;
  font-weight:800;
  margin-bottom: 50px;
  transition: all 0.3s ease-in-out;
}

.create:hover {
  background-color:#19B5FE;

}

.visible{
  display: block;
}

.invisible{
  display: none;
}

.submit {
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background-color:#68C3A3;
  border-radius:15px;
  border:2px solid black;
  cursor:pointer;
  color:white;
  padding:12px 16px;
  text-decoration:none;
  font-weight:800;
  margin-bottom: 5px;
}

.delete{
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background-color:#D64541;
  border-radius:15px;
  border:2px solid black;
  cursor:pointer;
  color:white;
  padding:12px 25px;
  text-decoration:none;
  font-weight:800;
  margin-top: 15px;
}


.submit1{
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background-color:#6C7A89;
  border-radius:15px;
  border:2px solid black;
  cursor:pointer;
  color:white;
  padding:12px 16px;
  text-decoration:none;
  font-weight:800;
  margin-bottom: 50px;
  margin-top: 15px;
}

.bg{
  display : flex;
  margin: 20px;
  padding: 40px;
}

.form-background{
  width: 1450px;
  background: #22313F;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.5);
}

.center{
  text-align: center;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
